{{> layout/header}}


<h1>게시글 상세보기 화면 (제목 , 내용 화면에 출력)</h1>
<p>http://localhost:8080/board/4</p>

    <h2>{{board.title}}</h2>
    <p>{{board.content}}</p>


    <a href="http://localhost:8080/board/{{board.id}}/update"><button>수정</button></a>
    <form action="http://localhost:8080/board/{{board.id}}/delete" method="POST">
        <button>삭제</button>
    </form>

{{> layout/footer}}