{{> layout/header}}

<h1>게시글 수정화면 + 폼 태그 완성</h1>
<p>http://localhost:8080/board/4</p>

<h1>현재 제목 : {{board.title}}</h1>
<p>현재 내용 : {{board.content}}</p>

<form action="http://localhost:8080/board/{{board.id}}/update" method="POST">
    <input type="text" name="title" placeholder="제목 작성">
    <input type="text" name="content" placeholder="내용 작성">

    <button>수정 완료</button>
</form>

{{> layout/footer}}