{{> layout/header}}

<h1>게시글 수정화면 + 폼 태그 완성</h1>
<p>http://localhost:8080/board/4</p>

<div>
    <h2>제목 {{board.title}}</h2>
    <p><h3>내용</h3> <br/>{{board.content}}</p>

    <form action="http://localhost:8080/board/{{board.id}}/update" method="post">
        <div>
            <input type="text" name="title" placeholder="제목 입력">
            <input type="text" name="content" placeholder="내용 입력">
        </div>

        <button> 수정 완료</button>

    </form>


</div>
{{> layout/footer}}